---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Makino from '@src/assets/img/makino.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">About</h1>
            <Prose>
              <div class="text-lg">
              <table>
                <tr>
                  <th>名称</th>
                  <td>WISTERIARC ウィステリアーク</td>
                </tr>
                <tr>
                  <th>代表者</th>
                  <td>Shinichiro Makino 牧野慎一郎</td>
                </tr>
                <tr>
                  <th>適格請求書発行事業者<br />登録番号</th>
                  <td>T3810252881515</td>
                </tr>
                <tr>
                  <th>お問い合わせ</th>
                  <td>contact ＠ wisteriarc.com</td>
                </tr>
                <tr>
                  <th>活動開始日</th>
                  <td>2024年2月1日</td>
                </tr>
                <tr>
                  <th>事業内容</th>
                  <td>
                    <ul>
                      <li>小規模システム開発</li>
                      <li>ホームページ制作・運用保守</li>
                      <li>動画制作</li>
                      <li>画像編集</li>
                      <li>デザイン制作</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>OS環境</th>
                  <td>
                    <ul>
                      <li>Microsoft Windows 10</li>
                      <li>Microsoft Windows 11</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>画像編集</th>
                  <td>
                    <ul>
                      <li>Affinity V2</li>
                      <li>Igara Studio Aseprite</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>動画編集</th>
                  <td>
                    <ul>
                      <li>Blackmagic Design DaVinci Resolve 19</li>
                      <li>Microsoft Clipchamp</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>データベース</th>
                  <td>
                    <ul>
                      <li>Claris Filemaker 21</li>
                      <li>Microsoft SQL Server Express</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>SNS</th>
                  <td>
                    <ul>
                      <li>X</li>
                      <li>Bluesky</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>コミュニケーション</th>
                  <td>
                    <ul>
                      <li>Discord</li>
                      <li>Slack</li>
                      <li>Microsoft Teams</li>
                    </ul>
                  </td>
                </tr>
              </table>
              </div>
            </Prose>
          </div>
          <Image src={Makino} alt="Muhammad Syakirurohman" width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
        <div>


        </div>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>
